{% macro shard_selector() %}
  {% with shards = get_shards() %}
    {% if shards %}
      <div class='row'>
        {% set active_shard = get_primary_shard() %}
        <div id="shard_selector" class="column small-centered" data-active-shard="{{ active_shard }}">
        {% for shard in shards %}
          {% if active_shard == shard %}
            {% set main_class = 'primary' %}
          {% else %}
            {% set main_class = 'secondary' %}
          {% endif %}
          <a href="#" id="shard_selection_{{ shard }}" class="button shard_selection {{ main_class }}" data-shard="{{ shard }}">{{ shard }}</a>
        {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}
{% endmacro %}
