[Unit]
Description=Gunicorn instance to serve Screeps Dashboard
After=network.target

[Service]
User=screepsdash
Group=screepsdash
WorkingDirectory=/opt/screepsdash
Environment="PATH=/opt/screepsdash/env/bin"
Environment="SETTINGS=/opt/screepsdash/settings"
Environment="FLASK_APP=/opt/screepsdash/screepsdashboard/app.py"
ExecStart=/opt/screepsdash/env/bin/gunicorn --workers 3 --bind unix:/tmp/screepsdash.sock -m 000 screepsdashboard.app:app

[Install]
WantedBy=multi-user.target
